@use 'sass:map';

@import '../../../../styles/variables.scss';

.introSectionContainer {
	padding: 0 map.get($sizes, minimal-padding);
	margin-top: 90px;

	.introSection {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: map.get($sizes, main-web-width);
		margin: 0 auto;

		&__header {
			font-size: 7.2rem;
			font-weight: 800;
			color: map.get($colors, text-color);
			text-align: center;
		}

		&__ipadImg {
			display: none;
		}

		&__mobileImg {
			display: none;
		}

		&__webImg {
			width: 100%;
		}
	}

	.introWishlistContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 43px 0 10px;

		.introWishlistTextContainer {
			display: flex;
			align-items: center;

			&__main {
				margin-right: 3px;
				font-size: 1.8rem;
				font-weight: 700;
				color: #1b20a2;
			}

			&__counter {
				color: map.get($colors, text-color);
			}
		}

		.introWishlistFormContainer {
			position: relative;
			display: flex;
			align-items: center;
			height: 52px;
			margin-top: 10px;

			&__input {
				width: 480px;
				height: 100%;
				padding: 14px 16px;
				font-size: 1.4rem;
				color: #474a57;
				background-color: #f4f5f7;
				border-radius: 5px 0 0 5px;

				&::placeholder {
					color: #474a57;
				}
			}

			&__submit {
				width: 155px;
				height: 100%;
				padding: 14px 24px;
				font-size: 1.4rem;
				font-weight: 500;
				color: #fff;
				background-color: #18191f;
				border-radius: 0 5px 5px 0;
			}

			.validationMessageSuccess {
				position: absolute;
				left: calc(100% + 15px);
				font-size: 1.8rem;
				font-weight: 700;
				color: #3e8133;
				white-space: nowrap;
			}

			.validationMessageError {
				position: absolute;
				left: calc(100% + 15px);
				font-size: 1.5rem;
				font-weight: 500;
				color: #813333;

				&__firstRow {
					white-space: nowrap;
				}

				&__secondRow {
					font-weight: normal;
					white-space: nowrap;
				}
			}

			&__submitIpad {
				display: none;
			}
		}
	}
}

@media (max-width: 1400px) {
	.introWishlistFormContainer {
		justify-content: center;
		margin-bottom: 40px;

		.validationMessageSuccess {
			top: calc(100% + 15px);
			left: initial !important;
		}

		.validationMessageError {
			top: calc(100% + 15px);
			left: initial !important;
		}
	}
}

@media (max-width: 850px) {
	.introSectionContainer {
		padding: 0;
		margin-top: 45px;

		.introSection {
			&__header {
				padding: 0 map.get($sizes, minimal-padding);
				font-size: 5rem;
			}

			&__ipadImg {
				display: initial;
				width: 100%;
				margin: 15px 0;
			}

			&__webImg {
				display: none;
			}
		}

		.introWishlistContainer {
			margin-top: 0;

			.introWishlistTextContainer {
				flex-direction: column;
				align-items: center;

				&__main {
					margin: 0 3px 5px 0;
					font-size: 2.5rem;
					font-weight: 600;
				}

				&__sub {
					font-size: 1.8rem;
				}
			}

			.introWishlistFormContainer {
				margin: 15px 0 20px;

				&__input {
					width: 420px;
					font-size: 1.8rem;
				}

				&__submit {
					display: none;
				}

				&__submitIpad {
					display: initial;
					width: 58px;
					height: 100%;
					background-color: #18191f;
					border-radius: 4.8px;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.introSectionContainer {
		order: 1;
		margin-top: 20px;

		.introSection {
			&__header {
				font-size: 2.5rem;
				line-height: 27px;
			}

			&__ipadImg {
				display: none;
			}

			&__mobileImg {
				display: initial;
				width: 100%;
				margin: 30px 0 38px;
			}
		}

		.introWishlistContainer {
			.introWishlistTextContainer {
				&__main {
					font-size: 1.8rem;
					font-weight: 700;
				}

				&__sub {
					font-size: 1.2rem;
					font-weight: 700;
				}
			}

			.introWishlistFormContainer {
				margin-bottom: 10px;

				&__input {
					width: 100%;
					font-size: 1.6rem;
				}
			}
		}
	}
}
