@import '../../../../styles/variables.scss';

.typicalMarketplacesSectionContainer {
	margin-top: 20px;
	padding: 0 map-get($sizes, minimal-padding);

	.typicalMarketplacesSection {
		max-width: map-get($sizes, sub-web-width);
		display: flex;
		flex-direction: column;
		margin: 0 auto;

		&__header {
			font-family: 'Inter';
			color: map-get($colors, text-color);
			font-weight: 800;
			font-size: 4.5rem;
		}

		.typicalMarketplacesTextContainer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 5px;

			&__text {
				width: 580px;
				font-size: 1.6rem;
				font-family: 'Inter';
				line-height: 1.7;
				color: map-get($colors, text-color);
			}

			&__img {
				width: 360px;
				object-fit: contain;
			}

			&__mobileImg {
				display: none;
			}
		}
	}
}

@media (max-width: 850px) {
	.typicalMarketplacesSection {
		&__header {
			font-size: 3.4rem;
			text-align: center;
			margin-bottom: 15px;
		}

		.typicalMarketplacesTextContainer {
			margin-top: 15px;

			&__text {
				font-size: 1.9rem;
				line-height: 31px;
			}

			// &__img {
			// 	width: 400px !important;
			// }
			//TODO: approve the image to be 360px bc 400px leads to horizontal probloms
		}
	}
}

@media (max-width: 500px) {
	.typicalMarketplacesSectionContainer {
		order: 2;
		padding: 0px;

		.typicalMarketplacesSection {
			&__header {
				font-size: 2.5rem;
				padding: 0 20px;
				margin-bottom: 0;
			}

			.typicalMarketplacesTextContainer {
				flex-direction: column;
				justify-content: center;

				&__text {
					margin: 20px 0;
					width: 100%;
					font-size: 1.4rem;
					line-height: 23px;
					padding: 0 10px;
				}

				&__img {
					display: none;
				}

				&__mobileImg {
					display: initial;
					width: 100%;
					object-fit: contain;
				}
			}
		}
	}
}
