{
	"tabWidth": 4,
	"printWidth": 140,
	"useTabs": true,
	"singleQuote": true,
	"semi": true,
	"quoteProps": "consistent",
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"jsxSingleQuote": false,
	"bracketSameLine": false
}
