@use 'sass:map';

@import '../../../../styles/variables.scss';

.sellersSection {
	padding: 50px map.get($sizes, minimal-padding);
	background-image: url('/images/sellers-background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;

	.sellersSectionInner {
		display: flex;
		justify-content: space-between;
		max-width: map.get($sizes, main-web-width);
		margin: 0 auto;
	}

	.sellersSectionText {
		display: flex;
		flex-direction: column;
		margin-right: 30px;

		&__title {
			margin-bottom: 17px;
			font-size: 3.6rem;
			font-weight: 800;
			line-height: 64px;
			color: map.get($colors, text-color);
		}

		&__text {
			font-size: 1.6rem;
			line-height: 26px;
			color: map.get($colors, text-color);
		}
	}

	.sellersSectionForm {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 28px;
		background-color: #fff;
		border-radius: 16px;
		box-shadow: 4px 4px 4px 4px #00000040;

		&__label {
			margin-bottom: 10px;
			font-size: 1.8rem;
			font-weight: 600;
			color: #474a57;
		}

		&__input {
			width: 100%;
			padding: 14px 16px;
			margin-bottom: 10px;
			font-size: 1.4rem;
			color: #474a57;
			background-color: #f4f5f7;
			border-radius: 5px;
		}

		&__selectCountry {
			width: 50%;
			min-width: 160px;
		}

		&__errorValidationMessage {
			margin-bottom: 10px;
			font-size: 1.4rem;
			font-weight: 400;
			color: #813333;
		}

		.formSubmitContainer {
			display: flex;
			align-items: center;
			margin: 20px 0 10px;

			&__submit {
				align-self: flex-start;
				width: 120px;
				padding: 12px;
				font-weight: 700;
				color: #fff;
				background-color: #18191f;
				border-radius: 5px;
			}

			&__successMessage {
				margin-left: 10px;
				font-size: 1.2rem;
				font-weight: bold;
				color: #3e8133;
			}
		}
	}
}

@media (max-width: 850px) {
	.sellersSection {
		padding: 0 20px;
		margin-left: 0;
	}

	.sellersSectionInner {
		flex-direction: column;
		max-width: map.get($sizes, ipad-width);
	}

	.sellersSectionText {
		margin-right: 30px;
	}

	.sellersSectionForm {
		width: 100%;
		margin: 25px auto 40px;
	}
}

@media (max-width: 500px) {
	.sellersSection {
		order: 6;

		.sellersSectionInner {
			max-width: map.get($sizes, main-mobile-width);
		}

		.sellersSectionText {
			&__title {
				font-size: 1.9rem;
				line-height: 32px;
			}

			&__text {
				font-size: 1.4rem;
				line-height: 20px;
			}
		}

		.sellersSectionForm {
			width: 100%;
			margin-left: 0;
		}
	}
}
