@import '../../../../../styles/variables.scss';

.carousel {
	padding: 0 map-get($sizes, minimal-padding);
}

.indicator {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	border: 2px solid #a1a7d4;
	margin-inline-start: 20px;

	&--selected {
		background-color: #e8ebff;
	}
}

.arrow {
	margin: 0 10px;
	cursor: pointer;
	fill: #595d8b;
	height: 53px;
	width: auto;
	position: absolute;
	top: 70px;
	z-index: 1;

	&--prev {
		transform: rotate(180deg);
	}

	&--next {
		right: 0;
	}
}
