@import '../../../../../styles/variables.scss';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;

	&__img {
		height: 190px;
		max-width: 170px;
		object-fit: contain;
	}

	&__title {
		font-weight: 600;
		font-size: 2rem;
		color: map-get($colors, text-color);
	}

	&__text {
		font-weight: 400;
		font-size: 1.4rem;
		color: map-get($colors, text-color);
	}
}
