@import '../../../../../styles/variables.scss';

.recommenderAppSection {
	margin-top: 100px;
	padding: 40px map-get($sizes, minimal-padding);
	background-color: #afb3da;

	.recommenderAppSectionInner {
		max-width: map-get($sizes, main-web-width);
		margin: 0 auto;
		display: flex;

		&__firstPhone {
			height: 450px;
			object-fit: contain;
			position: relative;
			bottom: 80px;
			margin: 0 20px;
			border-radius: 40px;
			box-shadow: 10px 15px 30px rgba(41, 41, 42, 0.5);
		}

		&__secondPhone {
			height: 450px;
			object-fit: contain;
			position: relative;
			top: 80px;
			border-radius: 40px;
			box-shadow: 10px 15px 30px rgba(41, 41, 42, 0.5);
		}
	}

	&__groupPhone {
		display: none;
	}

	.recommenderAppSectionDataContainer {
		display: flex;
		flex-direction: column;

		&__title {
			font-weight: 800;
			font-size: 4.8rem;
		}

		&__text {
			margin: 12px 0;
			font-size: 1.8rem;
			line-height: 32px;
		}

		&__getAppText {
			font-weight: 500;
			font-size: 1.8rem;
		}
	}

	.getTheAppContainer {
		display: flex;
		align-items: center;

		.getTheAppLinksContainer {
			display: flex;
			align-items: center;
		}

		.getTheAppContainerButton {
			height: 40px;

			&--apple {
				margin: 0 40px 0 8px;
			}

			&__img {
				height: 100%;
				object-fit: contain;
			}
		}

		&__logo {
			width: 150px;
			object-fit: contain;
		}
	}
}

@media (max-width: 850px) {
	.recommenderAppSection {
		width: 100%;
		padding: 40px 40px 30px 40px;
		display: flex;

		.recommenderAppSectionInner {
			max-width: map-get($sizes, ipad-width);
			justify-content: space-between;

			&__firstPhone {
				display: none;
			}

			&__secondPhone {
				display: none;
			}
		}

		&__groupPhone {
			display: block;
			height: 470px;
			position: relative;
			bottom: 70px;
			left: 60px;
			margin: 0 10px;
		}

		.recommenderAppSectionDataContainer {
			width: 360px;

			&__title {
				font-size: 2.7rem;
			}

			&__text {
				font-size: 2rem;
				line-height: 30px;
			}

			&__getAppText {
				display: none;
			}
		}

		.getTheAppContainer {
			flex-direction: column;

			.getTheAppLinksContainer {
				display: flex;
				justify-content: space-between;
				width: 100%;
			}

			.getTheAppContainerButton {
				height: 50px;

				&--apple {
					margin: 0 0 0 10px;
				}
			}
		}

		.getTheAppContainer__logo {
			margin-top: 30px;
			border-radius: 8px;
			position: relative;
			left: 50%;
		}
	}
}

@media (max-width: 500px) {
	.recommenderAppSection {
		order: 3;
		margin-top: 50px;
		padding: 0;
		flex-direction: column-reverse;
		align-items: center;

		.recommenderAppSectionInner {
			max-width: map-get($sizes, main-mobile-width);
			flex-direction: column;
			justify-content: center;
			order: 0;
		}

		&__groupPhone {
			left: 0;
			bottom: 40px;
			margin: 0;
			padding: 0;
			display: block;
			width: 486px;
			object-fit: contain;
		}

		.recommenderAppSectionDataContainer {
			order: 1;
			width: 100%;
			padding: 0 20px;

			&__title {
				font-size: 2.4rem;
			}

			&__text {
				font-size: 1.8rem;
			}
		}

		.getTheAppContainer {
			order: 2;

			&__logo {
				order: 3;
				left: 0;
			}

			.getTheAppContainerButton {
				height: 55px;
			}
		}
	}
}
