* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	font-size: 10px;
}

body {
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	font-family: Inter, sans-serif;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#__next {
	display: flex;
	flex-direction: column;
	height: 100%;
	white-space: pre-line;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
	vertical-align: middle;
}

p {
	margin: 0;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

h3 {
	margin: 0;
}

h4 {
	margin: 0;
}

h5 {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

button {
	padding: 0;
	user-select: none;
	background-color: transparent;
	border: none;
	outline: none;

	&:enabled {
		cursor: pointer;
	}
}

a {
	cursor: pointer;
}

input {
	border: none;
	outline: none;
}

textarea {
	border: none;
	outline: none;
}

mark {
	padding: 4px;
}

menu {
	padding: 0;
}

hr {
	margin: 0;
	border: none;
}
