$sizes: (
	main-web-width: 1200px,
	sub-web-width: 970px,
	main-mobile-width: 500px,
	sub-mobile-width: 480px,
	minimal-padding: 20px,
	ipad-width: 850px,
);
$colors: (
	text-color: #18191f,
	main-color: #afb3da,
);
