@use 'sass:map';

@import '../../../styles/variables.scss';

.headerContainer {
	padding: 0 map.get($sizes, minimal-padding);
	border-bottom: 1px solid #dddbdb;

	.header {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: map.get($sizes, main-web-width);
		margin: 0 auto;

		.mobileHeadrMenu {
			display: none;
		}

		.leftHeader {
			display: flex;
			align-items: center;

			&__logo {
				position: relative;
				width: 150px;
				height: 64px;
			}
		}

		// .rightHeader {
		// 	display: flex;
		// 	align-items: center;

		// 	&__text {
		// 		font-size: 1.8rem;
		// 		font-weight: 700;
		// 		color: map.get($colors, text-color);
		// 		white-space: nowrap;
		// 	}

		// 	&__button {
		// 		position: relative;
		// 		width: 135px;
		// 		height: 45px;

		// 		&--android {
		// 			margin: 0 10px;
		// 		}
		// 	}
		// }

		.headerContact {
			margin-left: 30px;
			font-size: 1.4rem;
			font-weight: 500;
			color: map.get($colors, text-color);
			text-decoration: none;
			white-space: nowrap;
		}
	}
}

@media (max-width: 850px) {
	.headerContainer {
		padding-top: 10px;
		border-bottom-color: transparent;

		.header {
			max-width: map.get($sizes, ipad-width);

			.mobileHeadrMenu {
				display: block;
				width: 145px;

				&__icon {
					width: auto;
					height: 30px;
				}
			}

			.leftHeader {
				&__logo {
					width: 180px;
					height: 77px;
				}
			}

			// .rightHeader {
			// 	flex-direction: column;

			// 	&__text {
			// 		display: none;
			// 	}

			// 	&__button {
			// 		width: 145px;
			// 		height: 45px;

			// 		&--android {
			// 			margin: 0 0 5px;
			// 		}
			// 	}
			// }

			.headerContact {
				display: none;
			}
		}
	}
}

@media (max-width: 500px) {
	.headerContainer {
		.header {
			max-width: map.get($sizes, main-mobile-width);

			.mobileHeadrMenu {
				width: 72px;

				&__icon {
					width: auto;
					height: 16px;
				}
			}

			.leftHeader {
				&__logo {
					width: 122px;
					height: 55px;
				}
			}

			// .rightHeader {
			// 	&__button {
			// 		width: 85px;
			// 		height: 28px;
			// 	}
			// }
		}
	}
}
