@use 'sass:map';

@import '../../../styles/variables.scss';

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px map.get($sizes, minimal-padding);
	background-color: #0b0d17;

	&__logo {
		position: relative;
		width: 140px;
		height: 56px;
		margin-left: 100px;
	}

	.footerText {
		display: flex;
		align-items: center;

		&__text {
			font-size: 1.2rem;
			color: #d9dbe1;
			text-align: left;

			&--withMargin {
				margin-right: 100px;
			}
		}

		.rightFooterTextContainer {
			&__text {
				font-size: 1.2rem;
				color: #d9dbe1;
			}
		}
	}
}

@media (max-width: 850px) {
	.footer {
		justify-content: none;
		padding: 20px 0;

		&__logo {
			margin: 0 20px;
		}
	}

	.footerText {
		flex-direction: column;
		align-items: flex-start !important;
		margin: 0 20px 0 0;

		&__text {
			&--withMargin {
				margin: 0 !important;
			}
		}
	}
}

@media (max-width: 500px) {
	.footer {
		order: 7;
	}
}
